/* Playfair display font used for fancy body text */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

/* The closest font I could find to Stix General. */
@font-face {
    font-family: logo-heading;
    src: url(./fonts/VREMF__.TTF);
}

/* Gill sans font */
@font-face {
    font-family: logo-text;
    src: url(./fonts//Gill\ Sans\ Light\ Regular.otf);
}

/* Noto serif font used for standard body text */
@font-face {
    font-family: noto-serif;
    src: url(./fonts/NotoSerif-Regular.ttf);
}

/* signature font used for signature */
@font-face {
    font-family: signature;
    src: url(./fonts/Qhueeny\ Signature.otf);
}

/* Website variables */
:root {
    --dark-grey: #dcdcdc;
    --light-grey: rgb(246, 246, 246);
}

/* Default resets */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Header section styling Fixed position */
header {
    position: fixed;
    padding: 15px 0 10px 0;
    width: 100%;
    z-index: 5;
}

/* Nav bar styling for logo and navigation links */
nav {
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
}

/*   Ivy Mae logo styling    */
.logo-container h2 {
    font-family: logo-heading;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    letter-spacing: 5px;
    font-weight: lighter;
}

.logo-container h3 {
    font-family: logo-text;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 4px;
    font-weight: bold;
}

.home-link {
    text-decoration: none;
}

.logo-container:hover {
    cursor: pointer;
    opacity: .7;
}

nav img {
    height: 100px;
}

/* Desktop navigation styling */
.desktop-navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-navigation-menu li {
    display: inline;
    list-style: none;
    padding: 10px 20px;
}

.desktop-navigation-menu li a {
    text-decoration: none;
    font-family: logo-text;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.desktop-navigation-menu li:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Mobile navigation styling only to be displayed on small screens */
.mobile-navigation-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    z-index: 2;
    padding: 20px;
    width: 100%;
}

.mobile-navigation-menu li {
    list-style: none;
    padding: 20px 20px;
    border-bottom: solid 1px rgb(234, 234, 234);
}

.mobile-navigation-menu li a {
    font-family: noto-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.mobile-navigation-menu li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.close {
    text-align: right;
    font-size: 2rem;
    font-family: 'Gill Sans MT';
}

.close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hamburger-menu {
    display: none;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}

/* Hamburger menu styling used to open mobile navigation bar */
.hamburger-menu span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgb(255, 255, 255); 
}

.hamburger-menu span:nth-of-type(2) {
    margin: 7px 0;
}

.hamburger-menu:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Main section title styling */
.section-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: logo-heading;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

/*   Home section styling full screen image landing page  */
#home {
    height: 100vh;
    background-image: url('./images/fashion-black-dress-wide.jpg'); /* (Tom Eskenazi, 2023) */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#home i {
    position: absolute;
    left: 50%;
    bottom: 30px;
    font-size: 60px;
    color: rgb(0, 0, 0);    
}

#home i:hover {
    cursor: pointer;
    color: grey;
}

/*   About section styling.
Styled using display flex with flex direction column for small screens  */
#about {
    min-height: 100vh;
    text-align: center;
    background-color: var(--light-grey);
    border-top: solid 1px grey;
    padding: 120px 0 0px 0 ;
}

.about-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 100px;
}

.about-image {
    height: 450px;
    width: 50%;
    background-image: url('./images/ivy-chapel.jpg');
    /* Ноями Noyami. 2023. Pexels. Accessed May 21, 2023.
    https://www.pexels.com/photo/brunette-woman-sitting-on-sofa-14701294/*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: solid 1px grey;
    box-shadow: 2px 2px 5px grey;
}

.about-text {
    width: 50%;
    padding-left: 30px;
    text-align: left;
}

.about-text p {
    font-size: 1rem;
    font-family: noto-serif;
    padding: 15px 0px;
    color: rgb(76, 76, 76);
    line-height: 30px;
}

.about-text p:nth-of-type(1) {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: black;
}

.about-text h6 {
    font-family: signature;
    margin: 25px 0;
    font-size: 2rem;
    line-height: 20px;
}

/* Gallery section styling. Styled using CSS grid */
#gallery {
    min-height: 100vh;
    text-align: center;
    background-color: white;
    padding: 120px 0 60px 0 ;
}

#gallery .section-title{
    margin-bottom: 40px;
}

.tab {
    display: inline;
    padding: 50px;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: logo-heading;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    margin-bottom: 10px;
}

.active {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 2.3rem;
}

.tab:hover {
    cursor: pointer;
    opacity: .7;
}

.show-less {
    display: none;
}

.show-more {
    display: block;
}

.show-more img, .show-less img {
    height: 75px;
    margin: 0;
    padding: 0;
}

.gallery-editorial {
    display: grid;
}

.gallery-portraiture {
    display: none;
}

/* Gallery Grid containers */
.gallery-portraiture, .gallery-editorial {
    width: 81vw;
    margin: auto;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    gap: 5px;
    margin-top: 5px;
}

/* Gallery Grid Items */
.grid-item { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px var(--light-grey);
    position: relative;
    box-shadow: 1px 1px 3px black;
}

/* Background images applied to all EDITORIAL grid items */
.editorial1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2; 
    background-image: url('./images/editorial1.jpg');
    /* Trend Hunter. 2023. Pinterest. Accessed May 22, 2023.
    https://www.pinterest.com.au/pin/127930445647882795/ */
}

.editorial2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-image: url('./images/editorial8.jpg');
    /* Troy T Coburn. 2023. Troy T Coburn. Accessed May 22, 2023.
    http://www.troytcoburn.com/ */
}

.editorial3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background-image: url('./images/editorial3.jpg');
    /* Mike Melia. 2023. Mike Mellia. Accessed May 22, 2023.
    https://www.mikemellia.com/fashion-editorial-2-nyc-photographer-look-book.html/ */
}

.editorial4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-image: url('./images/editorial4.jpg');
    /* Bazaar Magazine. 2023. Fixthephoto. Accessed May 22, 2023.
    https://fixthephoto.com/editorial-photography.html/ */
}

 .editorial5 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background-image: url('./images/editorial5.jpg');
    /* Fixthephoto. 2023. Fixthephoto. Accessed May 22, 2023.
    https://fixthephoto.com/editorial-photography.html */
}

.editorial6 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-image: url('./images/editorial2.jpg');
    /* Tamara Jansen. 2023. Sheeba Magazine. Accessed May 22, 2023.
    https://www.sheebamagazine.com/articles/photography/what-is-editorial-fashion-photography/ */
}

.editorial7 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
    background-image: url('./images/editorial6.jpg');
    /* Behance. 2023. Behance. Accessed May 22, 2023.
    https://www.behance.net/gallery/17129525/STYLENOIR-Magazine */
}

.editorial8 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    background-image: url('./images/editorial7.jpg');
    /* Khuong Nguyen Creative Sweatshop. 2023. Ucreative. Accessed May 22, 2023.
    https://www.ucreative.com/inspiration/fashion-photography-glamorous-magazine-editorials-with-graphic-design/ */
}

.editorial9 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/editorial9.jpg');
    /* Rey Del Fierro. 2023. Solis Magazine. Accessed May 22, 2023.
    https://solismagazine.com/fashion-editorial-shattered/ */
}

.editorial10 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/editorial10.jpg');
    /* Matoli Keely. 2023. Matolikeelyphotography. Accessed May 22, 2023.
    https://matolikeelyphotography.com/fashion-editorial-the-wall/ */
}  

.editorial11 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/editorial11.jpg');
    /* Elias Wessel. 2023. Webneel. Accessed May 22, 2023.
    https://webneel.com/webneel/blog/fashion-photography-elias-wessel-vixen-magazine/  */
}  

/* Background images applied to all PORTRAITURE grid items */
.portraiture1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2; 
    background-image: url('./images/portraiture6.jpg');
    /* FH Studio. 2023. Behance. Accessed May 23, 2023.
    https://www.behance.net/gallery/6262549/Illusion-Surreal-Portrait/ */
}

.portraiture2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-image: url('./images/portraiture2.jpg');
    /* James Paterson. 2023. techradar. Accessed May 23, 2023.
    https://www.techradar.com/how-to/portrait-photography-ideas/ */
}

.portraiture3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background-image: url('./images/portraiture8.jpg');
    /* Thickleeyonce. 2023. pinterest. Accessed May 23, 2023.
    https://www.pinterest.com.au/pin/355221489351663149/ */
}

.portraiture4 {
    position: relative;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-image: url('./images/portraiture4.jpg');
    /* Jonas Jensen. 2023. Creativeboom. Accessed May 23, 2023.
    https://www.creativeboom.com/inspiration/masters-of-portrait-leading-photographers-pick-their-favourite-portrait-shots-of-2016/ */
}

 .portraiture5 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background-image: url('./images/portraiture5.jpg');
    /* Zoltan Huszti. 2023. Bestphotos2share. Accessed May 23, 2023.
    https://bestphotos2share.blogspot.com/2012/01/portraiture-photography-by-famous.html/ */
}

.portraiture6 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-image: url('./images/portraiture1.jpg');
    /* Pototalk. 2023. Pototalk. Accessed May 23, 2023.
    http://pototalk.blogspot.com/2013/06/portrait-photography.html/ */
}

.portraiture7 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
    background-image: url('./images/portraiture7.jpg');
    /* Fubiz. 2023. Fubiz. Accessed May 23, 2023.
    https://www.fubiz.net/2016/02/18/experimental-abstract-portraits/ */
}

.portraiture8 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    background-image: url('./images/portraiture10.jpg');
    /* rgbstock. 2023. rgbstock. Accessed May 23, 2023.
    https://www.rgbstock.nl/photo/dMC9Tt/Homeless+Portraiture+02/ */
}

.portraiture9 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/portraiture11.jpg');
    /* Ricky Maynard. 2023. Art Gallery NSW. Accessed May 22, 2023.
    https://www.artgallery.nsw.gov.au/artboards/portraiture/the-artist-and-the-sitter/ */
}

.portraiture10 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/portraiture3.jpg');
    /* Iceland Photo Tours. 2023. Iceland Photo Tours. Accessed May 23, 2023.
    https://iceland-photo-tours.com/articles/photography-techniques/10-tips-for-stunning-portrait-photography/ */
}  

.portraiture11 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-image: url('./images/portraiture9.jpg');
    /* Tyska. 2023. Photo By Tyska Blogspot. Accessed May 23, 2023.
    https://photo-by-tyska.blogspot.com/2013/07/outdoor-portraiture-photography.html */
}  

/* Testimonial section styling.
Styled using display flex with flex direction column for small screens */
#testimonial {
    min-height: 100vh;
    text-align: center;
    background-color: var(--light-grey);
    padding: 120px 50px;
}

.testimonial-icons {
    min-height: 40vh;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.testimonial-title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    font-family: logo-heading;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    margin-bottom: 10px;
}

.icon {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

.testimonial-comments {
    width: 60%;
    margin: auto;
}

#testimonial p:nth-of-type(1) {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: black;
    padding: 15px 0px;
    line-height: 30px;
}

#testimonial p:nth-of-type(2) {
    font-family: signature;
    margin: 25px 0;
    font-size: 2rem;
    line-height: 20px;
}

.comment-two, .comment-three {
    display: none;
}

.active-comment {
    animation: pulse 2s ease infinite;
    border: solid 4px var(--dark-grey)
}

.icon:hover {
    cursor: pointer;
    opacity: .8;
}

/* Contact section styling displaying contact form and contact information.
Styled using display flex with flex direction column for small screens */
#contact {
    min-height: 100vh;
    text-align: center;
    padding-top: 120px;
}

.contact-content {
    min-height: 70vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
}

.contact-form {
    position: relative;
    width: 40%;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 40px;
    background-image: url('./images/ivy-chapel.jpg');
    /* Ноями Noyami. 2023. Pexels. Accessed May 21, 2023.
    https://www.pexels.com/photo/brunette-woman-sitting-on-sofa-14701294/*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 5px black;
}

.contact-title {
    font-family: noto-serif;
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-top: 20px;
    line-height: 30px;
}

.contact-form input {
    padding-left: 10px;
    opacity: .9;
}

.contact-form input[type=submit] {
    color: rgb(39, 39, 39);
    border: none;
    box-shadow: 2px 2px 2px white;
    font-family: logo-heading;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.contact-form input[type=submit]:hover {
    cursor: pointer;
    opacity: .7;
}

.contact-form input:nth-of-type(5) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.contact-info p {
    padding: 15px 0;
    font-family: noto-serif;
}

.contact-info p span {
    font-weight: bold;
}

.socials {
    margin-top: 10px;
}

.socials img {
    height: 50px;
    width: 50px;
}

/* Footer section styling */
footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

footer .logo-container {
    padding: 20px;
}

footer .logo-container h2{
    color: white;
}

footer .logo-container h3{
    color: white;
    font-size: .8rem;
}

footer p {
    font-family: logo-text;
    color: white;
    font-size: .9rem;
}

/* Back to top element styling */
.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(53, 53, 53);
    border: 2px solid rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.back-to-top i {
    font-size: 1.5rem;
}

.back-to-top:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Media query for mobile resposive design */
@media screen and (max-width: 1300px) {  

    /* About media query properties */
    .about-text {
        width: 85%;
    }

    .about-content {
        gap: 30px;
    }
}

/* Media query for mobile resposive design */
@media screen and (max-width: 1000px) {

    /* Navigation media query properties */
    .hamburger-menu {
        display: block;
    }

    .desktop-navigation-menu {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    /* Home media query properties */
    #home {
        background-image: url('./images/img8.jpg');
    }

    
    /* About media query properties */
    .about-content {
        flex-direction: column;
        gap: 30px;
    }

    .about-image {
        width: 75%;
        height: 400px;
    }

    .about-text {
        width: 80%;
    }

    /* Testimonial media query properties */
    .testimonial-icons {
        width: 95%;
        flex-direction: column;
    }

    .icon {
        height: 170px;
        width: 170px;
        margin: 20px 0;
    }

    .testimonial-comments {
        width: 95%;
    }

    /* Contact media query properties*/
    .contact-content {
        flex-direction: column;
    }

    .contact-form {
        width: 80%;
    }

    .contact-title {
        font-size: 1.2rem;
    }
}

/* Media query for mobile resposive design */
@media screen and (max-width: 600px) {
   
    /* Header section media queries */
    .logo-container h2 {
        font-size: 1.5rem;
    }

    .logo-container h3 {
        font-size: 1.2rem;
    }

    .hamburger-menu {
        margin-top: 13px;
    }

    nav {
        padding: 10px 30px;
    }

    /* About section media queries */
    .about-content {
        padding-top: 20px;
    }

    .about-image {
        width: 95%;
        height: 300px;
    }

    .about-text {
        width: 95%;
    }

    /* Contact section media queries */
    .contact-form {
        width: 96%;
    }

    .contact-form {
        padding: 20px;
    }

    .contact-form {
        grid-template-rows: 55px 55px 55px 55px 55px 55px;
    }

    /* Gallery Section media queries */
    .show-more img, .show-less img {
        height: 60px;
    }
}

/*  Testimonial keyframe animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

